.codeGare{
    margin-top: 10px;
    text-align: center;
}

.container_accueil{
    display: flex;
}
.item__accueil__logo{
display: block;
text-align: center;
width: 45%;
/* border: 3px solid red; */
}

.items_accueil__carte{
    margin-top: 10px;
    display: block;
width: 55%;
/* border: 1px solid blue; */
}



.image-carte{
    max-width: 100%;
    height: auto;
}

.accueil__logo{
    margin: 50px 0 150px 0;
}

img{
width: 800px;   
}

.accueil__select{
margin-left: 20px;

}

label{
    font-size: 3em;
    color: #747678;
}
    
#select-city{
    margin-top: 40px;
    font-size: 2em;
    background-color: #0088CE;
    color: white;
    width: 60%;
    height: 60px;
    border-radius: 10px;
    padding-left: 20px; border-radius: 30px;
    box-shadow: 10px 5px 5px grey;
}

@media screen and (max-width: 1100px){ 

    .item__accueil__logo{
        width: 100%;
        display: block;
        align-items: center;
     
    }

    img{
        max-width: 100%;
        height: auto;   
        }

    .container_accueil{
        display: block;
        margin: auto ;
    }
    .accueil__logo{
        margin: 50px 0 25px 0;
    }


    #select-city{
        font-size: 1.2em;
        background-color: #0088CE;
        color: white;
        width: 65%;
        height: 60px;
        border-radius: 10px;
        padding-left: 20px;
    }

label{
    font-size: 2em;
}   
    .items_accueil__carte{
width: 100%;
    }
}




