img{
    max-width : 50%;
    height : auto;   
}



.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: red solid 2px;
    margin: 5px;
    padding: 5px;
  }


  .flex-items-gauche {
    flex-basis: 68%;
border: green solid 1px;
    margin: 5px;
  }

  .flex-items-droite {
border:violet solid 1px;
flex-basis: 30%;
   margin: 5px;
   /*background-image: url("/public/Images/aix.back.jpg")*/
  }


  .flex-container-resultat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: yellow solid 1px;
    margin: 5px;
  }

  .flex-items-resultat {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    border: blue solid 1px;
    margin: 5px;
    width: 45%;
  }



  /* Medium devices (tablets, 999px)*/
@media (max-width: 999px) {
    .flex-items-droite {
        flex-basis: 100%;
    }
        .flex-items-gauche {
            flex-basis: 100%;

}
.flex-items-resultat {
    width: 100%;
  }
}